/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The grid container */
.grid-container {
    display: grid;
    grid-template-rows: 20% 1fr 1fr 1fr 1fr 1fr 10%;
    grid-template-columns: 20% 1fr 1fr 1fr;
    grid-template-areas:
    'header header header header'
    'nav content content sidebar'
    'nav content content sidebar'
    'nav content content sidebar'
    'nav feature1 feature2 feature3'
    'nav feature1 feature2 feature3'
    'footer footer footer footer';
    grid-gap: 5px;
  } 
/*setting grid areas for grid items*/
  .header {
      grid-area: 1 span 4 / 1;
  }
  .nav {
      grid-area: 2 span 5 / 1;
  }
  .content {
      grid-area: 2 span 3 / 2 span 2;
  }
  .sidebar {
      grid-area: 2 span 3 / 4;
  }
  .feature1 {
      grid-area: 5 span 2 / 2;
  }
  .feature2 {
      grid-area: 5 span 2 / 3;
  }
  .feature3 {
      grid-area: 5 span 2 / 4;
  }
  .footer {
      grid-area: 7 / 1 span 4;
  }
/*styling for grid items*/
.header, .nav, .content, .sidebar, .feature1, .feature2, .feature3, .footer {
    background: lightblue;
    border: solid 1px steelblue;
}
/*styling for headers*/
h1 {
    text-align: center;
    padding: 10px;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
h3 {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
h4 {
    font-weight: bold;
}
/*floats headshot image left and style*/
#headshot {
    float: left;
    border: solid 1px black;
}
/*clearfix hack*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
/*style paragraph*/
p {
    margin: 10px;
}
/*style images center*/
img {
    margin: 10px auto;
}
/*footer*/
.footer {
    text-align: center;
}